


.root {
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-font-size: 15px;
    -fx-font-family: "comfortaa";
    -fx-border-color: rgb(160, 50, 50);
    -fx-border-radius: 5px; /*how circular my corners*/
    -fx-padding: 12px; /*affects the height of my fields*/
    -fx-pref-width: 170px; /*set my width*/
}
#lnameE{
    -fx-background-color: #f5f5f5;
    -fx-font-size: 15px;
    -fx-font-family: "comfortaa";
    -fx-border-color: rgb(160, 50, 50);
    -fx-border-radius: 5px; /*how circular my corners*/
    -fx-padding: 12px; /*affects the height of my fields*/
    -fx-pref-width: 117px; /*set my width*/
}
#fnameE{
    -fx-background-color: #f5f5f5;
    -fx-font-size: 15px;
    -fx-font-family: "comfortaa";
    -fx-border-color: rgb(160, 50, 50);
    -fx-border-radius: 5px; /*how circular my corners*/
    -fx-padding: 12px; /*affects the height of my fields*/
    -fx-pref-width: 117px; /*set my width*/
}
.text {
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-font-family:"comfortaa";
}


.button {
    -fx-background-color: #A03232;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #FF5733, 10, 0, 0, 2);
    -fx-pref-width:170;
}
#signIn{
    -fx-background-color: #A03232;
    -fx-text-fill: white;
    -fx-font-size: 14.5px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #FF5733, 10, 0, 0, 2);
    -fx-pref-width:82px;
}

.button:hover {
    -fx-background-color: #FF2062;
    -fx-effect: dropshadow(gaussian, #FF2062, 10, 0, 0, 2);
}

#signIn:hover {
    -fx-background-color: #FF2062;
    -fx-effect: dropshadow(gaussian, #FF2062, 10, 0, 0, 2);
}

#backButton {
    -fx-pref-width: 60;

}
.scroll-bar {
    -fx-background-color: white;
}
.scroll-bar .thumb {
    -fx-background-color: #A03232;

}
.scroll-bar .thumb:hover {
    -fx-background-color: #FF2062;
}


.root {
    -fx-effect: dropshadow(gaussian, #888888, 20, 0, 0, 10);
}

.vbox {
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-background-color: white;
}
